.my-footer {
    height: 7.5em;
    background-color: #0f4480;
    margin-top: 1em;
    padding: 1em;
    color: white;
    font-size: 100%;
}
.room-image {
    max-width: 50%;
}
 /* override styles here */
.notie-container {
      box-shadow: none;
   }
.datepicker {
    z-index: 10000;
}