{{template "base" .}}

{{define "content"}}


<div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner">
					    <div class="carousel-item active">
					        <img src="\static/images/about.jpg" class="d-block w-100" alt="Journey">
					        <div class="carousel-caption d-none d-md-block">
						        <h3>"I haven't been everywhere, but it's on my list."</h3>
						    </div>
					    </div>
                    </div>
					    
</div>


<div class="container">


        <div class="row">
            <div class="col">
            <h1 class="text-center mt-4	">Welcome to about page</h1>
            <p>
            Welcome to ExploreWise, your gateway to endless adventures and unforgettable experiences!<br>

At ExploreWise, we are dedicated to inspiring and empowering travelers like you to discover the world with curiosity, confidence, and a touch of wanderlust. Our mission is to provide innovative travel solutions and reliable resources that enhance your exploration and create meaningful memories wherever your journey takes you.<br><br>

With a team of passionate explorers and travel enthusiasts, we strive to curate valuable content, top-notch recommendations, and user-friendly tools to make your travel planning seamless and your adventures extraordinary. Whether you're a seasoned globetrotter or a first-time traveler, ExploreWise is here to accompany you on every step of your travel discovery.<br><br>

Join us as we embark on an exciting voyage of discovery and unlock the wonders of the world together. Let ExploreWise be your trusted companion in navigating the globe and embracing the magic of travel.<br><br>
            </p>

            <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
            <h1 class="text-start mt-4	">Where to go next</h1>
                <p>
                Here is the list of amazing places to organize your next trip:
                </p>
            
            </div>
        </div>


                <div class="row">
                    <div class="col">
                    <h3 class="text-start mt-4	">Waterfalls:</h3>
                    
                    <div class="text-center">
                        <img src="\static/images/Vietnam-waterfall.jpg" class="d-block w-100" alt="Vietnam">
                        <h2 class="text-start mt-4	">Vietnam waterfalls</h2>

                        <p>
                            The waterfalls are located in an area of mature karst formations where the original limestone bedrock layers are being eroded. Numerous streams spring from underground fissures along the lower levels of the area. The waterfalls have multiple drops, from bedrock layer to layer, which shows the multiple depositions of sediments of different hardness which formed the terrain over millions of years.  
                        </p>
                    </div>

                    <hr>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                    <h3 class="text-start mt-4	">Cities with beautiful architecture:</h3>
                    
                    <div class="text-center">
                        <img src="\static/images/Lithuania1.jpg" class="d-block w-100" alt="Vietnam">
                        <h1 class="text-start mt-4	">Lithuania</h1>

                        <p>
                             Vilnius is known, among other things, for the architecture of its Old Town, one of the largest and best preserved old towns in northern, eastern, and central Europe, declared a UNESCO World Heritage Site in 1994. Architectural style Vilnian Baroque is named after the city, which is the largest Baroque city north of the Alps, and the farthest one to the east.
                        </p>
                        <hr>
                    </div>


                    <div class="text-center">
                        <img src="\static/images/Lithuania.jpg" class="d-block w-100" alt="Vietnam">
                        <h1 class="text-start mt-4	">Lithuania: Trakai Island Castle</h1>

                        <p>
                            Trakai Island Castle (Lithuanian: Trakų salos pilis; Polish: Zamek w Trokach) is an island castle located in Trakai, Lithuania, on an island in Lake Galvė. The construction of the stone castle was begun in the 14th century by Kęstutis, and around 1409 major works were completed by his son Vytautas the Great, who died in this castle in 1430. Trakai was one of the main centers of the Grand Duchy of Lithuania and the castle held great strategic importance. The castle was rebuilt in the 1950s–1960s by Lithuanian initiative, although it had received resistance from Soviet authorities. The Trakai History Museum was established after the reconstruction.
                        </p>
                    </div>

                    <hr>
                    </div>
                </div>



                <div class="row">
                    <div class="col">
                    <h3 class="text-start mt-4	">Islands:</h3>
                    
                    <div class="text-center">
                        <img src="\static/images/comodo-Island.jpg" class="d-block w-100" alt="Vietnam">
                        <h2 class="text-start mt-4	">Komodo island</h2>

                        <p>
                            Komodo (Indonesian: Pulau Komodo) is one of the 17,508 islands that comprise the Republic of Indonesia. The island is particularly notable as the habitat of the Komodo dragon, the largest lizard on Earth, which is named after the island. Komodo Island has a surface area of 291 square kilometres and a human population of about 1,800 people in 2020. The people of the island are descendants of former convicts who were exiled to the island and who have mixed with Bugis from Sulawesi. The people are primarily adherents of Islam but there are also Christian and Hindu congregations.
                        </p>
                    </div>

                    <hr>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                    <h3 class="text-start mt-4	">Mountains:</h3>
                    
                    <div class="text-center">
                        <img src="\static/images/zhangjiajie.jpg" class="d-block w-100" alt="Vietnam">
                        <h2 class="text-start mt-4	">Zhangjiajie</h2>

                        <p>
                            Zhangjiajie is a prefecture-level city in the northwestern part of Hunan Province, China. It comprises the district of Yongding, Wulingyuan and counties of Cili and Sangzhi. It contains the Zhangjiajie National Forest Park, part of the Wulingyuan Scenic Area which was designated as a UNESCO World Heritage Site in 1992 by the China National Tourism Administration.
                        </p>
                    </div>

                    <hr>
                    </div>
                </div>
    
</div>

{{end}}