{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Contact page</h1>
            <p>
            Thank you for your interest in reaching out to us! We value your feedback, questions, and suggestions. Please feel free to contact us using the information below:<br>

Contact Information:<br>
- Email: exploreWise@co.com<br>
- Phone: -404-404-44-44<br>
- Address: 123 Adventure Avenue, Wanderlust City, Dreamland<br>
- Social Media: Connect with us on Facebook, Instagram, and Twitter for the latest updates and travel tips.<br>

We are here to assist you with any inquiries you may have, from technical support to partnership opportunities. Your journey matters to us, and we look forward to hearing from you soon!

Thank you for choosing ExploreWise as your travel companion. Safe travels!
            </p>
        </div>
    </div>
</div>
{{end}}