{{template  "base" .}}

{{define "content"}}
<div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">
				<ol class="carousel-indicators">
				    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#main-carousel" data-slide-to="1"></li>
				    <li data-target="#main-carousel" data-slide-to="2"></li>
				  </ol>
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					        <img src="\static/images/quinn-niet2.jpg" class="d-block w-100" alt="Quine Niet">
					        <div class="carousel-caption d-none d-md-block">
						        <p><b>Arches National Park , USA </b></p>
						    </div>
					    </div>
					    <div class="carousel-item">
					      <img src="\static/images/outside.jpg" class="d-block w-100" alt="Outside">
					      <div class="carousel-caption d-none d-md-block">
						        <p><b>Hotel in Ocean side.</b></p>
						    </div>
					    </div>
					    <div class="carousel-item">
					      <img src="\static/images/rod-ramsell2.jpg" class="d-block w-100" alt="National park">
					      <div class="carousel-caption d-none d-md-block">
						        <p><b>Grand Teton National Park USA</b></p>
						    </div>
					    </div>
					  </div>
					</div>


	<div class="container">

		

		<div class="row">
			<div class="col">
				<h1 class="text-center mt-4	">Navigate the World, ExploreWise!</h1>
				<p class="text-center mt-4 ">Whether you're a globetrotter seeking new adventures or a leisure traveler looking for a relaxing getaway, our Tourist Application is here to guide you on your journey!
				Explore exciting destinations, discover hidden gems, and create unforgettable memories with the help of our intuitive and comprehensive travel companion.</p>

			<hr>

			</div>
		</div>

		<div class="row">
			<div class="col text-center">
				<a href="/search-availability" class="btn btn-success">Make Reservation Now</a>
			
			</div>
		</div>

	</div>
{{end}}