{{template  "base" .}}

{{define "content"}}
<div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">
				<ol class="carousel-indicators">
				    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#main-carousel" data-slide-to="1"></li>
				    <li data-target="#main-carousel" data-slide-to="2"></li>
				  </ol>
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					        <img src="\static/images/quinn-niet.jpg" class="d-block w-100" alt="Quine Niet">
					        <div class="carousel-caption d-none d-md-block">
						        <h5>First slide label</h5>
						        <p>Photo of: <b>Arches National Park , USA </b></p>
						    </div>
					    </div>
					    <div class="carousel-item">
					      <img src="\static/images/outside.png" class="d-block w-100" alt="Outside">
					      <div class="carousel-caption d-none d-md-block">
						        <h5>Second slide label</h5>
						        <p>Photo of: Hotel in Ocean side.</p>
						    </div>
					    </div>
					    <div class="carousel-item">
					      <img src="\static/images/rod-ramsell.jpg" class="d-block w-100" alt="National park">
					      <div class="carousel-caption d-none d-md-block">
						        <h5>Third slide label</h5>
						        <p>Photo of:Grand Teton National Park USA</p>
						    </div>
					    </div>
					  </div>
					</div>


	<div class="container">

		

		<div class="row">
			<div class="col">
				<h1 class="text-center mt-4	">Find Your Next Vocation</h1>
				<p class="text-center mt-4 ">Design your perfect vocation by choosing from the best ranked hotels,cruices and destinations.</p>

				<hr>

				<h1 class="text-start mt-4	"> Arches National Park</h1>

				<p>
					Arches National Park is a national park in eastern Utah, United States. The park is adjacent to the Colorado River, 4 mi (6 km) north of Moab, Utah. More than 2,000 natural sandstone arches are located in the park, including the well-known Delicate Arch, as well as a variety of unique geological resources and formations. The park contains the highest density of natural arches in the world
					Traveling to Arches National Park is like visiting another planet, one with thousands of natural sandstone arches, red rocks and landforms in amazing configurations, and light that seems to change every moment.
					The way the shadows play across the arches makes the park especially intriguing for photographers, who are drawn to capturing its enchanting vistas at dawn and dusk in particular.
					But Arches National Park is not just a shutterbug's paradise.
			    </p>
				<h5 class="text-start mt-4	">Things to do : </h1>
				<p>
				The red rock wonderland that is Arches National Park is a fascinating place to explore. Whether you're simply driving through the captivating landscape or opting for an adventurous hike or guided tour, the park is enchanting. It's good to get your bearings at the visitor center, where you can brush up on the park's various trails and viewpoints and learn about available ranger programs. Though you can easily marvel at the otherworldly scene from your car, you'll want to stop, park and explore, especially at must-see sights like the famous Delicate Arch and Balanced Rock.
				</p>

				<p>
				#1 in Arches National Park
				Address: U.S. 191
				</p>

				<p>
				#2 Balanced Rock
				in Arches National Park
				Address: Arches Scenic Drive
				</p>

				<p>
				#3 Windows Section
				in Arches National Park
				Address: The Windows Road
				</p>

				<p>
				#4 Delicate Arch
			 	in Arches National Park
				Address: Delicate Arch Road
				</p>

				<p>
				#5 Double Arch
				in Arches National Park
				Address: The Windows Road
				</p>	
				<hr>


				
				<h1 class="text-start mt-4	">Grand Teton National Park</h1>

				<p mt-4>
				Grand Teton National Park is an American national park in northwestern Wyoming. At approximately 310,000 acres (1,300 km2), the park includes the major peaks of the 40-mile-long (64 km) Teton Range as well as most of the northern sections of the valley known as Jackson Hole. Grand Teton National Park is only 10 miles (16 km) south of Yellowstone National Park, to which it is connected by the National Park Service–managed John D. Rockefeller Jr. Memorial Parkway. Along with surrounding national forests, these three protected areas constitute the almost 18-million-acre (73,000-square-kilometer) Greater Yellowstone Ecosystem, one of the world's largest intact mid-latitude temperate ecosystems.
				Towering above Jackson Hole Valley with jagged snow-topped peaks, Wyoming's majestic Teton Mountains are in high relief at Grand Teton National Park. From the 13,770-foot Grand Teton to the glittering Jenny and Jackson lakes – which reflect the mountains in their depths – the photo-ops are endless. But the park isn't just for mountaineers and photographers. In the peak summer season, the area's trails call to hikers of all abilities and reveal gems like hidden waterfalls and breathtaking views of the Tetons. Meanwhile, the Snake River appeals to kayakers, rafters and those who simply fancy a float. Historic districts like Menors Ferry and Mormon Row attract history buffs interested in the 19th-century past of this piece of Western Frontier. 

				The nearly 500-square-mile park also contains an array of wildlife, including black bears, grizzlies, moose, antelope and bison. Plus, autumn visitors can witness the park light up with golden aspens. Travelers who want to tick off another national park on the same vacation can travel the few miles north to Yellowstone, which adjoins Grand Teton.
			    </p>
				<h5 class="text-start mt-3	">Things to do</h1>
				<p>
				Grand Teton National Park is filled with natural wonders, such as the towering Grand Teton and the glittering Jenny Lake, and historic settlements, including Mormon Row and Menors Ferry. But before travelers start climbing and hiking, touring and wildlife watching, they should stop in at one of the park's numerous visitor centers to get the scoop on how best to organize their vacation.
				The Craig Thomas Discovery & Visitor Center is a good place to start.
				Top Things to See & Do in Grand Teton National Park
			</p>

			<p>
				The red rock wonderland that is Arches National Park is a fascinating place to explore. Whether you're simply driving through the captivating landscape or opting for an adventurous hike or guided tour, the park is enchanting. It's good to get your bearings at the visitor center, where you can brush up on the park's various trails and viewpoints and learn about available ranger programs. Though you can easily marvel at the otherworldly scene from your car, you'll want to stop, park and explore, especially at must-see sights like the famous Delicate Arch and Balanced Rock.
				</p>

				<p>
				#1 Jenny Lake
				</p>

				<p>
				#2 Hidden Falls & Inspiration Point
				</p>

				<p>
				#3 Jackson Lake
				</p>

				<p>
				#4 Snake River
				</p>

				<p>
				#5 Taggart Lake Trail
				</p>	

				<p>
				#6 Local Wildlife
				</p>	

				<p>
				#7 Mormon Row
				</p>	
				<hr>

			</div>
		</div>

		<div class="row">
			<div class="col text-center">
				<a href="/search-availability" class="btn btn-success">Make Reservation Now</a>
			
			</div>
		</div>

	</div>
{{end}}