{{template "base" .}}

{{define "content"}}
<div class="container">
		<div class="row">
			<div class="col">
				<img src="\static/images/marjors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
			</div>
		</div>
		

		<div class="row">
			<div class="col">
				<h1 class="text-center mt-4	">Major's Suite</h1>
				<p class="text-center mt-4">
					This Hotel offers four Suites in our Clubhouse, sharing a common area that is perfect for business travellers, golfers, couples, wedding parties and small groups alike.  The Masters Suite is our only suite with a king-size bed; the US Open, British and PGA Suites all feature two queen-size beds.  Each suite is comfortably appointed with a workspace and private bathroom, while sharing a kitchen and larger sitting area.  Guests of the suites have 24-hour privileges to our fitness center, as well as the convenience of immediate proximity to the Waterfall Grille and Bar, Signature Sanctuary Golf Course, Leadbetter Golf Academy, Shady Grady’s Turnhouse and pickleball courts (coming soon!) Continental breakfast is complimentary and can be enjoyed in the common area of the suites. The Suites at Cateechee are absolutely perfect for your getaway no matter what brings you to Hartwell!

Be sure to ask us about our Mercedes Benz sprinter van if you need transportation to and from the airport!
			    </p>
			</div>
		</div>

		<div class="row">
			<div class="col text-center">
				<a id="check-availability-button"href="#!" class="btn btn-success">Check Availibility</a>
			
			</div>
		</div>

	</div>
{{end}}
{{define "js"}}
    <script>
    document.getElementById("check-availability-button").addEventListener("click",function(){
		let html = `
		<form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
			<div class="form-row">
				<div class="col">
					<div class="form-row" id="reservation-dates-modal">
						<div class="col">
							<input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
						</div>
						<div class="col">
							<input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
						</div>
					</div>
				</div>
			</div>
		</form>	
		`

		attention.custom({msg:html,title:"Choose your dates"});
	})
    </script>

{{end}}